{
  "extends": "@istanbuljs/nyc-config-typescript",
  "lines": 70,
  "all": true,
  "check-coverage": true,
  "instrument": true,
  "report-dir": "./coverage",
  "include": [
    "**"
  ],
  "exclude": [
    "coverage/**",
    "src/**.ts",
    "src/**/**.test.ts",
    "src/migrations/**",
    "src/modules/**/repositories/**",
    "src/modules/**/exceptions/**"
  ],
  "reporter": [
    "html"
  ]
}